
  <div class="row ml-2 ">
    <div *ngFor="let country of countries$">
        <a class="text-white">
            <div class="media ml-1 p-2 mt-1 mb-1"
                style="background-color: #1e1e1e;border-radius: 5px;min-width: 200px!important;">
                <a class="d-flex">
                    <img src="https://www.countryflags.io/{{country.flagurl}}/flat/24.png" alt="">
                </a>
                <div class="media-body">
                  
                  <a routerLink="/tournaments/{{sportId}}/{{country.countryid}}" (click)="selectedCountry(country.countryid)">
                    <h5  style="padding-left: 5px !important;" class="text-white">{{country.name}}</h5>
                  </a>
                  </div>
            </div>
        </a>
    </div>
</div>
  


 


