<div class="col-md-12" style="min-width: 100%!important; "style="background-color: #643e94;">
    <div class="row  gradient-buttons ">
        <div class="card " style="border-radius: 0px; min-width: 100%!important;background-color: #643e94; ">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn  btn-default ">Home</button>
                <button type="button" class="btn btn-default">Horse Racing</button>
                <button type="button" class="btn btn-default">Soccer</button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card " style="background-color: #643e94;border-radius: 0px; min-width: 100%!important; ">

            <div class="card-body">
                <input class="form-control " style="border-radius: 0px;min-width: 100%!important; " type="search"
                    placeholder="Search" aria-label="Search" [(ngModel)]="term">
            </div>
        </div>
        <div class="container-fluid  containerX mt-1"  style="background-color: #2b2b2b!important;">
            <div class="media mt-2"  style="min-width: 100%!important;">
                <a class="d-flex" style="background-color: #643e94;">
                    <img src="https://new.hollywoodbets.net/assets/images/icons/soccer.svg" width="50" height="50" alt="">
                </a>
                <div class="media-body text-nowrap" style="background-color: #2b2b2b;min-height: 50px;" (click)="onClick()">
                    <a routerLink="/betgames">
                    <h5 class="text-white mt-2" style="text-align: center;">BetGames </h5>
                    </a>
                </div>
            </div>
         

            <div class="media mt-2"  *ngFor="let sport of sport | filter :term" style="min-width: 100%!important;">
              
                <a class="d-flex" style="background-color: #643e94;">
                    <img src="{{sport.imageurl}}" width="50" height="50" alt="">
                </a>
                <div class="media-body text-nowrap" style="background-color: #2b2b2b;min-height: 50px;" (click)="onClick()">
                    <a routerLink="/countries/{{sport.sportId}}">
                    <h5 class="text-white mt-2" style="text-align: center;">{{sport.name}} </h5>
                    </a>
                </div>
            </div>
            
         
        </div>
    </div>
</div>